* text=auto
.gitattributes text eol=lf
*.md text eol=lf
*.json text eol=lf
*.gd text eol=lf
*.godot text eol=lf
*.mjs text eol=lf
*.tscn text eol=lf
*.ts text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
